.header {
  cursor: pointer;
  border-top: 0.5px solid #bbbbbb;
  padding: center;
  font-size: 24px;
  color: #222;
  font-weight: bold;
  margin: center;
}

.header:hover {
  background-color: rgba(24, 207, 146, 0.2);
}

.content {
  padding: 15px;
  font-size: 30px;
  padding-bottom: 50px;
}

.ant-tabs {
  width: 80vw;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
}

.asset-component {
  display: inline-block;
  vertical-align: top;
  margin: 20px 2.5%;
  padding: 10px;
  width: 45%;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.asset-name {
  margin: 0 0 0 0;
}

.name-left {
  display: inline-block;
  width: calc(100% - 120px);
  text-align: left;
  font-size: 24px;
  font-weight: 400;
}

.name-right {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  font-variant: all-small-caps;
}

.asset-description {
  text-align: justify;
  margin: 5px 10px 10px 10px;
  font-size: 16px;
}

.asset-property {
  margin: 0px 10px 0 10px;
}

.property-left {
  display: inline-block;
  width: calc(100% - 80px);
  text-align: left;
  font-weight: 200;
  font-size: 18px;
}

.property-right {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-weight: 300;
  font-size: 18px;
}

.form-item {
  width: 100%;
  margin: 10px 0;
  display: inline-flex;
}

.form-label {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  width: 250px;
}

.form-label2 {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  width: 350px;
}

.form-icon {
  display: inline-block;

  width: calc(100% - 250px);
}

.form-address-label {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  width: calc(100% - 250px);
  max-width: 400px;
  min-width: 100px;
}

.form-address-input {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid grey;
  width: 100%;
  max-width: 650px;
  min-width: 100px;
  margin: 0 0 20px 0;
  padding: 5px;
}

.form-context {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  margin: 0 2px;
}

.form-context2 {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 0 20px;
  width: 100px;
  color: #21a7fa;
}

.form-question-mark {
  display: inline-block;
  vertical-align: top;
  margin: 6px 5px 0px 0px !important;
}

.form-pref-question-mark {
  display: inline-block;
  vertical-align: top;
  margin: 7px 45px 0px 0px;
}

.form-phone-error-message {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px -100px;
  color: red;
}

.form-duration-error-message {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px 70px;
  color: red;
}

.form-input {
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  width: calc(100% - 250px);
  max-width: 400px;
  min-width: 100px;
}

.form-smallinput {
  display: inline-block;
  width: 70px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 0 2px 0 0;
}

.form-textarea {
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  width: calc(100% - 250px);
  border: 1px solid grey;
  max-width: 400px;
  min-width: 100px;
}

.asset-button {
  background: none;
  border: 1.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-variant: all-small-caps;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  padding: 5px 0 13px 0;
  width: 100%;
  max-width: 650px;
  min-width: 100px;
  margin: 10px 0 0 0;
}

.asset-delete-button {
  background: none;
  border: 1.5px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-variant: all-small-caps;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  padding: 5px 0 13px 0;
  width: 100%;
  max-width: 130px;
  min-width: 100px;
  margin: 10px 0 0 0;
}

.asset-button:hover {
  background: #ffde7d;
  text-decoration: none;
}

.asset-delete-button:hover {
  background: #f54747;
  text-decoration: none;
}

.ant-tabs-tab-btn {
  font-variant: all-small-caps !important;
  font-size: 30px;
  font-weight: 400;
}

.asset-form {
  margin: 0 0 50px 0;
}

.ant-select-selector {
  display: inline-block;
  width: 70px !important;
  border-radius: 5px !important;
  border: 1px solid grey !important;
}

.ant-slider {
  display: inline-block !important;
  width: calc(100% - 250px);
  max-width: 400px;
  min-width: 100px;
}

.react-tel-input {
  display: inline-block !important;
  width: calc(100% - 250px);
  max-width: 400px;
  min-width: 100px;
}

.form-control {
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  width: 200px !important;
  font-weight: 300 !important;
}
