.explore-chart{
    float: left;
    width: 90%;
    height: 500px;
    margin: 0 5%;
  }
  
.row{
  height: 450px;
}

.date-title {
  display: inline-block;
  margin: 0 5px;
}

.date-choice {
  display: inline-block;
  margin: 0 10px;
}

.date-block {
  margin: 10px 10px 20px 10px;
}