.Navbar {
  height: 80px;
  display: flex;
  align-items: center;
  min-width: 550px;
}

.nav-menu {
  display: inline;
  text-align: center;
  width: 94%;
  margin: 0 3%;
}

.nav-item {
  display: block;
  float: right;
  padding: 0 3% 0 0;
  overflow: hidden;
}

.nav-item a {
  font-weight: 400;
  font-size: 40px;
  font-variant-caps: all-small-caps;
}

.nav-item a:hover {
  color: #00b8a9;
}

.nav-link {
}

.nav-button {
  margin: 15px 0;
  background: none;
  border-radius: 5px;
  border: 1.5px solid black;
  font-variant: all-small-caps;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  padding: 0 8px 8px 8px;
  cursor: pointer;
}

.nav-button:hover {
  background: #ffde7d;
}

.dropdown-content {
  font-weight: 400;
  font-size: 40px;
  font-variant-caps: all-small-caps;
  color: #f6416c;
}
